@model IEnumerable<FoodAdvisor.Models.Restaurant>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Here you can know a lot of things about your favorites foods !</p>
</div>

<table class="table table-hover">
    <thead class="thead-dark">
    <tr>
        <th scope="col">#</th>
        <th scope="col">
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th scope="col">
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th scope="col">
            @Html.DisplayNameFor(model => model.Grade.Score)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@Html.DisplayFor(modelItem => item.Position)</th>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address.Street) @Html.DisplayFor(modelItem => item.Address.ZipCode) @Html.DisplayFor(modelItem => item.Address.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Grade.Score) / 10
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit score</a>
                </td>
            </tr>
        }
    </tbody>
</table>
