@model FoodAdvisor.Models.Restaurant

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Restaurant</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Comment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Comment)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MailOwner)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MailOwner)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.Street) @Html.DisplayFor(model => model.Address.ZipCode) @Html.DisplayFor(model => model.Address.City)
        </dd>
    </dl>
    <div>Grade</div>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Grade.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Grade.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Grade.Score)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Grade.Score)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Grade.Comment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Grade.Comment)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
