@model IEnumerable<FoodAdvisor.Models.Restaurant>

@{
    ViewData["Title"] = "Index";
}

<h1 style="text-align: center">Restaurants</h1>

<div style="width: 100%">
    <a style="width: 100%" class="btn btn-primary" asp-action="Create">Create New</a>
</div>
<br/>
<form asp-action="Index">
    <div class="row">
        <div class="col-md-3">
            <input name="Name" class="form-control" value="@ViewBag.Name" style="text-align: center" placeholder="Search a name ..." />
        </div>
        <div class="col-md-3">
            <input name="Address" class="form-control" value="@ViewBag.Address" style="text-align: center" placeholder="Search an address ..." />
        </div>
        <div class="col-md-3">
            <input name="Score" class="form-control" value="@ViewBag.Score" style="text-align: center" placeholder="Search a score ..." />
        </div>
        <div class="col-md-3">
            <button type="submit" style="width: 100%" value="Search" class="btn btn-success">Search</button>
        </div>
    </div>
</form>
    
<br/>
<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Grade.Score)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address.Street) @Html.DisplayFor(modelItem => item.Address.ZipCode) @Html.DisplayFor(modelItem => item.Address.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Grade.Score) / 10
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
